<article id="post-{{ wp.the_ID }}" {{ wp.post_class }}>
    <div class="row">
        {% if wp.has_post_thumbnail %}
            <div class="small-12 medium-3 large-3 columns">
                <a href="{{ wp.the_permalink }}" title="{{ wp.the_title }}">
                    {{ wp.the_post_thumbnail('thumbnail', {'class':'th'}) }}
                </a>
            </div>
            <div class="small-12 medium-9 large-9 columns">
                <h4><a href="{{ wp.the_permalink }}" title="{{ wp.the_title }}">{{ wp.the_title }}</a></h4>
                {{ wp.the_excerpt }}
            </div>
        {% else %}
            <div class="small-12 medium-12 large-12 columns">
                <h4><a href="{{ wp.the_permalink }}" title="{{ wp.the_title }}">{{ wp.the_title }}</a></h4>
                {{ wp.the_excerpt }}
            </div>
        {% endif %}
    </div>
</article>